{% extends "base.html" %}
{% load bookmarks %}
{% load tags %}
{% load notes %}
{% load static %}

{% block title %}Diários da República - Marcadores{% endblock %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'css/note_style.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-ui-1.9.2.css' %}" />
  <link rel="stylesheet" href="/static/css/jquery.multiselect.css" />
  <script src="{% static 'jquery/jquery-ui-1.10.2.min.js' %}"></script>
  <script src="/static/js/jquery.multiselect.min.js"></script>
  <script src="{% url 'view_js' %}"></script>
  {% if user.is_authenticated and is_owner %}
  <script src="{% static 'js/tags.js' %}"></script>
  <script src="{% static 'js/notes.js' %}"></script>
  {% endif %}
  <script src="{% static 'js/dre.js' %}"></script>
  <script src="{% static 'js/keyboard_nav.js' %}"></script>
  <meta name="keywords" content="bookmarks, marcadores, preferidos">
  <meta name="description" content="Pagina de marcadores do utilizador.">
  <meta property="og:title" content="Diários da República - Marcadores">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ SITE_URL }}">
  <meta property="og:image" content="{{ SITE_URL }}{% static 'img/esfera_armilar_200.png' %}">
  <meta property="og:site_name" content="Diários da República - Versão do cidadão">
  <meta property="fb:admins" content="webmaster@tretas.org">
  <meta property="og:description" content="Pagina de marcadores do utilizador.">
{% endblock %}

{% block body_content %}
<h1>Marcadores - {{ bookmarks_user.username }}</h1>

<div class="content-text"><div id="search_results">
  <div id="filter_control">
    <form>
      <div class="filter_left">
        <p><label for="order">Ordenar por:</p>
        <p><span>{{ filter_form.order }}</span></p>
        <p><label for"invert">Inverter:</label>
        <span>{{ filter_form.invert }}</span></p>
      </div>
      <div class="filter_right">
        <p><label for="">Data inicial:</label>
        <span>{{ filter_form.start_date }}</span></p>
        <p><label for="">Data final:</label>
        <span>{{ filter_form.end_date }}</span></p>
        <p><label for="">Procurar por:</label>
        <span>{{ filter_form.query }}</span></p>
        <p><label for="">Etiquetas:</label>
        <span>{{ filter_form.tags }}</span></p>
      </div>
      <div class="clear_both"></div>
      <div class="filter_bottom">
        <a href='.'>Limpar busca</a>
        <button type="submit" name="submit" value="true">Filtrar</button>
      </div>
    </form>
  </div>

  <ul>
    {% for document in results %}
    {% if not document.no_index or user.is_authenticated %}
    <li class="result_item">
    <div class="result_header">
      {% if user.is_authenticated %}
      <a href="{% toggle_bookmark document %}?next={{ request.get_full_path|urlencode }}">{% bookmark_icon document %}</a>
      {% if user == bookmarks_user %}
      <a href="{% url 'toggle_public' document.bm.content_type.id document.bm.object_id %}?next={{ request.get_full_path|urlencode }}">{% if document.bm.public %}<img width=16 height=16 title="Marcador público" src="{% static 'img/unlocked.png' %}">{% else %}<img width=16 height=16 title="Marcador privado" src="{% static 'img/locked.png' %}">{% endif %}</a>{% endif %}
      {% endif %}
      {% if document.plain_text or document.dre_pdf %}
      <img src="{% static 'img/attach.png' %}" title="Tem documento" alt="Tem documento" height=16px width=16px>
      {% else %}
      <img src="{% static 'img/attach-no.png' %}" title="Não tem documento" alt="Não tem documento" height=16px width=16px>
      {% endif %}
      {% if document.in_force %}
      <img src="{% static 'img/in_force.png' %}" title="Em vigor" alt="Em vigor" height=16px width=16px>
      {% else %}
      <img src="{% static 'img/not_in_force.png' %}" title="Diploma não vigente" alt="Diploma não vigente" height=16px width=16px>
      {% endif %}
      <span class="document_date">
        <a href="{% url 'browse_day' year=document.year month=document.month day=document.day %}">{{ document.date|date:"Y-m-d" }}</a></span> -
      <a class="result_link" href="{{ document.get_absolute_url }}">
        <span class="document_tipo">{{ document.doc_type }}</span>
        <span class="document_number">{{ document.number }}</span></a> -
      <span class="document_emiting">{{ document.emiting_body }}</span>
    </div> <!-- result_header -->

    {% if document.notes %}
    <p class="document_notes">
      {{ document.note_abrv }}
      </p> <!-- document_notes -->{% endif %}

    <div class="decoration">
      <div class="deco_toolbar">
        {% if user == bookmarks_user %}<span class="tag_control"><img src="{% static 'img/add-tag.png' %}"></span> <span class="note_control"><img src="{% static 'img/edit-note.png' %}"></span>{% endif %}
        <span class="tags">
          Etiquetas:
          {% show_tags document bookmarks_user %}
        </span> <!-- tags -->
      </div> <!-- deco_toolbar -->

      {% if user == bookmarks_user %}{% tag_object document bookmarks_user %}{% endif %}
      {% show_note document bookmarks_user %}
      {% if user == bookmarks_user %}{% create_note document bookmarks_user %}{% endif %}
    </div> <!-- decoration -->

    </li>
    {% endif %}
    {% empty %}
    <li>Não tem bookmarks definidos.
    {% endfor %}
  </ul>
  {% include "pagination.html" %}
</div></div>
{% endblock %}
