{% extends "base.html" %}
{% load static %}
{% load bookmarks %}
{% load notes %}

{% block title %}{{ document.doc_type }} {{ document.number }}{% endblock %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'css/note_style.css' %}">
  {% if user.is_authenticated %}
  <script src="{% url 'view_js' %}"></script>
  <script src="{% static 'js/notes.js' %}"></script>
  {% endif %}
  <script src="{% static 'js/pagemarks.js' %}"></script>
  <meta name="keywords" content="portugal,leis,legislação,{{ document.title }}, diário da república, documento, diploma, {{ document.doc_type.title }}, {{ document.date|date:"Y-m-d" }}, {{ document.date|date:"Y" }}, {{ document.c_emitting }}">
  <meta name="description" content="{{ document.note_escaped }}">
  <meta name="author" content="{{ document.c_emitting }}">
  <!-- Open Graph protocol metadata -->
  <meta property="og:title" content="{{ document.title }}">
  <meta property="og:type" content="article">
  <meta property="og:url" content="{{ SITE_URL }}{{ document.get_absolute_url }}">
  <meta property="og:image" content="{{ SITE_URL }}{% static 'img/esfera_armilar_200.png' %}">
  <meta property="og:description" content="{{ document.note_escaped }}">
  <meta property="og:locale" content="pt_PT">
  <meta property="og:site_name" content="Diários da República">
  <meta property="og:article:published_time" content="{{ document.date|date:"Y-m-d" }}">
  <meta property="og:article:author" content="{{ document.emiting_body }}">
  {# Google does not support the "Legislation" result type. #}
  {# so we use both "Legislation" in ld+json and "Article"  #}
  {# in RDF. #}
  <script type="application/ld+json"
          src="{{SITE_URL}}{% url "document_jsonld" document.id %}"></script>
{% endblock %}

{% block body_content %}
{% show_public_notes document %}

<div id="pagemarks" class="noprint" style="display:none;">
  <div class="circle" id="go_up" title="Saltar para o marcador anterior">&uarr;</div>
  <div class="circle marker" id="mark" title="Colocar um marcador nesta posição de página">M</div>
  <div class="circle" id="go_down" title="Saltar para o marcador seguinte">&darr;</div>
</div>

<div itemscope itemtype="http://schema.org/Article" class="content-text">

{% if user.is_authenticated %}
<p style="text-align:right;"><a href="{% toggle_bookmark document %}?next={{ request.get_full_path|urlencode }}">{% bookmark_icon document %}</a>
{% endif %}

<h1 itemprop="name">{{ document.title }}</h1>

<ul>
  <li>
    <strong>Corpo emitente</strong>:
    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
      <span itemprop="name">{{ document.emiting_body }}</span>
    </span>
  </li>
  <li>
    <strong>Fonte</strong>: {{ document.source }}
  </li>
  <li>
    <strong>Data</strong>:
      <a href="{% url 'browse_day' year=document.year month=document.month day=document.day %}{% if document.series == 2 %}?series=2{% endif %}">
        <span itemprop="datePublished" content="{{ document.date|date:"Y-m-d" }}">
          {{ document.date|date:"Y-m-d" }}
        </span>
      </a></li>
  {% if  document.part != '1' and document.part %}
  <li>
    <strong>Parte</strong>: {{ document.part }}
  </li>
  {% endif %}
  {% if document.drept_url %}
    <li>
      <a href="{{ document.drept_url }}" target="_blank">Documento na página oficial do DRE</a>
    </li>
  {% endif %}
  {% if not document.in_force %}
    <li>
      <strong style="color:red;">Diploma não vigente</strong>
    </li>
  {% endif %}
  {% if document.conditional %}
    <li>
        <strong style="color:red;">Vigência condicional</strong>
    </li>
  {% endif %}
  {% if document.processing %}
    <li>
      <strong style="color:red;">Em tratamento</strong>
    </li>
  {% endif %}
  <li>
    <strong>Secções desta página:</strong>:
    <ul>
      {% if document.notes %}<li><a href="#summary">Sumário</a></li>{% endif %}
      {% if user.is_authenticated and show_user_notes %}<li><a href="#user_notes">As suas notas associadas a este documento</a></li>{% endif %}
      {% if document.has_text %}<li><a href="#text">Texto do documento</a></li>{% endif %}
      {% if document.plain_text or document.dre_pdf %}<li><a href="#anexos">Anexos (pdf)</a></li>{% endif %}
      {% if note_list %}<li><a href="#notes">Notas dos utilizadores</a></li>{% endif %}
      {% if document.connects_to.all %}<li><a href="#out_links">Ligações deste documento</a></li>{% endif %}
      {% if document.document_set.all %}<li><a href="#in_links">Ligações para este documento</a></li>{% endif %}
      <li><a href="#warning">Aviso</a></li>
    </ul>
  </li>
</ul>

<div class="noprint" style="float:right;font-size:8px;">
  Partilhar:
  <a href="https://twitter.com/intent/tweet?text={{ text }}&url={{ url }}"
     title="Partilhar no Twitter"
     target="_blank"
     style="text-decoration: none;">
    <img src="{% static "img/twitter_32.png" %}">
  </a>
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ url }}"
     title="Partilhar no Facebook"
     target="_blank"
     style="text-decoration: none;">
    <img src="{% static "img/facebook_32.png" %}">
  </a>
  <a href="https://www.reddit.com/submit?url={{ url }}"
     title="Partilhar no Reddit"
     target="_blank"
     style="text-decoration: none;">
    <img src="{% static "img/reddit_32.png" %}">
  </a>

</div>

{% if document.notes %}
<h2><a name="summary">Sumário</a></h2>
<div itemprop="description" class="result_notes">
{{ document.notes }}
</div>
{% endif %}

<div class="only-mobile">
</div>

{% if user.is_authenticated and show_user_notes %}
<h2><a name="user_notes">Notas do utilizador</a></h2>
  <div class="result_notes">
    <div class="decoration">
      <div class="deco_toolbar result_notes deco_tb_inlaid noprint">
        <span class="note_control"><img src="{% static 'img/edit-note.png' %}" title="Editar nota" alt="Editar nota" style="margin:-1em 0 -0.3em 0;"></span> &nbsp;{% if user.first_name %}{{ user.first_name }} {{ user.last_name }} ({{ user.username }}){% else %}{{ user.username }}{% endif %}
      </div> <!-- deco_toolbar -->
      {% show_note document user %}
      {% create_note document user %}
    </div> <!-- decoration -->
  </div>
{% endif %}

{% if document.has_text %}
<h2><a name="text">Texto do documento</a></h2>

<div itemprop="articleBody" class="result_notes">
  {% autoescape off %}
  {{ document.plain_html }}
  {% endautoescape %}
</div>
{% endif %}

{% if document.plain_text or document.dre_pdf %}
<h2><a name="anexos">Anexos</a></h2>

<div class="noprint">
  <ul>
    {% if document.plain_text %}
    <li><a rel="nofollow" href="{{ document.plain_pdf_url }}">
        Texto integral site antigo do dre.pt</a> (PDF)</li>
    {% endif %}
    {% if document.dre_pdf %}
    <li><a rel="nofollow" href="{% url 'document_org_pdf' document.id %}">
        Extracto do Diário da República original</a> (PDF)</li>
    {% endif %}
  </ul>
</div>

<div class="only_print">
  <ul>
    {% if document.plain_text %}
    <li>Texto integral do documento: {{ SITE_URL }}{{ document.plain_pdf_url }} ;
    {% endif %}
    {% if document.dre_pdf %}
    <li>Extracto do Diário da República original:
    {{ SITE_URL }}{% url 'document_org_pdf' document.id %} .
    {% endif %}
  </ul>
</div>

{% endif %}


{% if note_list %}
<h2><a name="notes">Notas dos utilizadores</a></h2>
  {% for note in note_list %}
    <div class="result_notes" style="margin-top:2em;">
      <div class="decoration">
        <div class="deco_toolbar result_notes deco_tb_inlaid noprint">
          {% if note.user.first_name %}{{ note.user.first_name }} {{ note.user.last_name }} ({{ note.user.username }}){% else %}{{ note.user.username }}{% endif %}
          - {{ note.timestamp|date:"Y-m-d H:i" }}
        </div> <!-- deco_toolbar -->
        <div class="user_notes">
        {{ note.html|safe }}
        </div>
      </div>
    </div>
  {% endfor %}
{% endif %}

{% if document.connects_to.all %}
<h2><a name="out_links">Ligações deste documento</a></h2>

<div class="result_notes">
  <p>Este documento liga ao{{ document.connects_to.all.count|pluralize }} seguinte{{ document.connects_to.all.count|pluralize }} documento{{ document.connects_to.all.count|pluralize }} (apenas ligações para documentos da Serie I do DR):
  <ul style="list-style-type:none;padding:0.5em;">
  {% for result in document.out_links %}
    <li>
      {% if user.is_authenticated %}
      <a href="{% toggle_bookmark result %}?next={{ request.get_full_path|urlencode }}">{% bookmark_icon result %}</a>
      {% endif %}
      {% if result.plain_text or result.dre_pdf %}
      <img src="{% static 'img/attach.png' %}" title="Tem documento" alt="Tem documento" height=16px width=16px>
      {% else %}
      <img src="{% static 'img/attach-no.png' %}" title="Não tem documento" alt="Não tem documento" height=16px width=16px>
      {% endif %}
      {% if result.in_force %}
      <img src="{% static 'img/in_force.png' %}" title="Em vigor" alt="Em vigor" height=16px width=16px>
      {% else %}
      <img src="{% static 'img/not_in_force.png' %}" title="Diploma não vigente" alt="Diploma não vigente" height=16px width=16px>
      {% endif %}
      <span class="result_date">
        <a href="{% url 'browse_day' year=result.year month=result.month day=result.day %}">
      {{ result.date|date:"Y-m-d" }}</span></a> -
      <a href="{{ result.get_absolute_url }}">
      <span class="result_tipo">{{ result.doc_type }}</span>
      <span class="result_number">{{ result.number }}</span></a> -
      <span class="result_emiting">{{ result.emiting_body }}</span>
      <p class="result_notes">{{ result.note_abrv }}</p>
    </li>
  {% endfor %}
  </ul>
</div>
{% endif %}

{% if document.document_set.all %}
<h2><a name="in_links">Ligações para este documento</a></h2>

<div class="result_notes">
  <p>Este documento é referido no{{ document.document_set.all.count|pluralize }} seguinte{{ document.document_set.all.count|pluralize }} documento{{ document.document_set.all.count|pluralize }} (apenas ligações a partir de documentos da Série I do DR):
  <ul style="list-style-type:none;padding:0.5em;">
  {% for result in document.in_links %}
    <li>
      {% if user.is_authenticated %}
      <a href="{% toggle_bookmark result %}?next={{ request.get_full_path|urlencode }}">{% bookmark_icon result %}</a>
      {% endif %}
      {% if result.plain_text or result.dre_pdf %}
      <img src="{% static 'img/attach.png' %}" title="Tem documento" alt="Tem documento" height=16px width=16px>
      {% else %}
      <img src="{% static 'img/attach-no.png' %}" title="Não tem documento" alt="Não tem documento" height=16px width=16px>
      {% endif %}
      {% if result.in_force %}
      <img src="{% static 'img/in_force.png' %}" title="Em vigor" alt="Em vigor" height=16px width=16px>
      {% else %}
      <img src="{% static 'img/not_in_force.png' %}" title="Diploma não vigente" alt="Diploma não vigente" height=16px width=16px>
      {% endif %}
      <span class="result_date">
        <a href="{% url 'browse_day' year=result.year month=result.month day=result.day %}">
      {{ result.date|date:"Y-m-d" }}</span></a> -
      <a href="{{ result.get_absolute_url }}">
      <span class="result_tipo">{{ result.doc_type }}</span>
      <span class="result_number">{{ result.number }}</span></a> -
      <span class="result_emiting">{{ result.emiting_body }}</span>
      <p class="result_notes">{{ result.note_abrv }}</p>
    </li>
  {% endfor %}
  </ul>
</div>
{% endif %}

<h2><a name="warning">Aviso</a></h2>

<p><strong>NOTA IMPORTANTE</strong> - a consulta deste documento não substitui a
leitura do Diário da República correspondente. Não nos responsabilizamos por
quaisquer incorrecções produzidas na transcrição do original para este formato.

<div class="only_print">
  <p>O URL desta página é: <span itemprop="url">{{ SITE_URL }}{{ document.get_absolute_url }}</span>
</div>

</div>
{% endblock %}


