{% extends "base.html" %}
{% load static %}

{% block title %}Diários da República - Direito ao esquecimento{% endblock %}

{% block header %}
  <meta name="keywords" content="ajuda,dre,diário da república,leis">
  <meta name="description" content="Acerca do sistema de procura e armazenamento de Diários da República.">
  <meta property="og:title" content="Diários da República - Acerca">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ SITE_URL }}">
  <meta property="og:image" content="{{ SITE_URL }}{% static 'img/esfera_armilar_200.png' %}">
  <meta property="og:site_name" content="Diários da República - Versão do cidadão">
  <meta property="fb:admins" content="webmaster@tretas.org">
  <meta property="og:description" content="Acerca do sistema de procura e armazenamento de Diários da República.">
{% endblock %}

{% block body_content %}
<div class="content-text">
  <a name="esquecimento"><h2>Direito ao esquecimento</h2>

  <p>Esta página foi removida ao abrigo do direito ao esquecimento.

  <p>Ver, por favor, <a href="https://pt.wikipedia.org/wiki/Direito_ao_esquecimento"
  target="_blank">Direito ao Esquecimento</a>.

</div>
{% endblock %}
