{% load static %}
<div class="pagination">
  {% if page.has_previous %}
  <a id="first_page" title="Ctrl-Seta Esquerda" href="{{ query }}{% if mquery %}&m={{ mquery }}{% endif %}{% if order %}&order={{ order }}{% endif %}"><img src="{% static 'img/arrow-first.png' %}" alt="Primeira página"></a>
  &nbsp;
  <a id="prev_page" title="Seta Esquerda" href="{{ query }}{% if mquery %}&m={{ mquery }}{% endif %}&page={{ page.previous_page_number }}{% if order %}&order={{ order }}{% endif %}"><img src="{% static 'img/arrow-left.png' %}" alt="Página anterior"></a>
  {% else %}
  <img src="{% static 'img/arrow-first-d.png' %}" alt="Primeira página">
  &nbsp;
  <img src="{% static 'img/arrow-left-d.png' %}" alt="Página anterior">
  {% endif %}
  &nbsp;
  <span style="font-size:48px;color:#000080;">{{ page.number }}/{{ page.paginator.num_pages }}</span>
  &nbsp;
  {% if page.has_next %}
  <a id="next_page" title="Seta Direita" href="{{ query }}&page={{ page.next_page_number }}{% if mquery %}&m={{ mquery }}{% endif %}{% if order %}&order={{ order }}{% endif %}"><img src="{% static 'img/arrow-right.png' %}" alt="Página seguinte"></a>
  &nbsp;
  <a id="last_page" title="Ctrl-Seta Direita" href="{{ query }}&page={{ page.paginator.num_pages }}{% if mquery %}&m={{ mquery }}{% endif %}{% if order %}&order={{ order }}{% endif %}"><img src="{% static 'img/arrow-last.png' %}" alt="Última página"></a>
  {% else %}
  <img src="{% static 'img/arrow-right-d.png' %}" alt="Página seguinte">
  &nbsp;
  <img src="{% static 'img/arrow-last-d.png' %}" alt="Última página">
  {% endif %}
</div>
