{% load bookmarks %}
{% load static %}
<div id="search_results">
  <div class="result_bar">
  Encontrámos {{ page.paginator.count }} resultados
  <div style="float:right;">
  Página {{ page.number }} de {{ page.paginator.num_pages }}
  </div></div>
  <ul>
    {% for result in page.object_list %}
    {% if not result.no_index or user.is_authenticated %}
    <li class="result_item">
      <div class="result_header">
        {% if user.is_authenticated %}
        <a href="{% toggle_bookmark result %}?next={{ request.get_full_path|urlencode }}">{% bookmark_icon result %}</a>
        {% endif %}
        {% if result.plain_text or result.dre_pdf %}
        <img src="{% static 'img/attach.png' %}" title="Tem documento" alt="Tem documento" height=16px width=16px>
        {% else %}
        <img src="{% static 'img/attach-no.png' %}" title="Não tem documento" alt="Não tem documento" height=16px width=16px>
        {% endif %}
        {% if result.in_force %}
        <img src="{% static 'img/in_force.png' %}" title="Em vigor" alt="Em vigor" height=16px width=16px>
        {% else %}
        <img src="{% static 'img/not_in_force.png' %}" title="Diploma não vigente" alt="Diploma não vigente" height=16px width=16px>
        {% endif %}
        <span class="result_date">
          <a href="{% url 'browse_day' year=result.year month=result.month day=result.day %}">
        {{ result.date|date:"Y-m-d" }}</a></span> -
        <a class="result_link" href="{{ result.get_absolute_url }}">
        <span class="result_tipo">{{ result.doc_type }}</span>
        <span class="result_number">{{ result.number }}</span></a> -
        <span class="result_emiting">{{ result.emiting_body }}</span>
      </div>
      {% if result.notes %}<p class="result_notes">{{ result.note_abrv }}</p>{% endif %}
    </li>
    {% endif %}
    {% endfor %}
  </ul>
  {% if forgetme %}
  <div class="center_text error">
    <p>Alguns resultados poderão ter sido removidos ao abrigo do direito ao
    esquecimento. Ver, por favor,
    <a href="https://pt.wikipedia.org/wiki/Direito_ao_esquecimento"
      target="_blank">Direito ao Esquecimento</a>.
  </div>
  {% endif %}
  {% include "pagination.html" %}
</div>
