{% extends "base.html" %}
{% load static %}
{% load tips %}

{% block title %}Diários da República - Procura de Documentos{% endblock %}

{% block header %}
  <meta name="keywords" content="portugal,lei,legislação,procura,diplomas,documentos,diário da república">
  <meta name="description" content="Procura de diplomas no Diário da República Electrónico">
  <meta property="og:title" content="Diários da República - Procura de Documentos">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ SITE_URL }}">
  <meta property="og:image" content="{{ SITE_URL }}{% static 'img/esfera_armilar_200.png' %}">
  <meta property="og:site_name" content="Diários da República - Versão do cidadão">
  <meta property="fb:admins" content="webmaster@tretas.org">
  <meta property="og:description" content="Procura de diplomas no Diário da República">
  {% if query %}<link rel="alternate" type="application/rss+xml" title="RSS Desta Busca" href="{% url 'rss' %}{{ query }}">{% endif %}
  {% if page.object_list %}
  <link rel="stylesheet" href="{% static 'css/jquery-ui-1.9.2.css' %}" />
  <script src="{% static 'js/keyboard_nav.js' %}"></script>
  {% endif %}
{% endblock %}

{% block body_content %}
{% if page.object_list %}
<div class="content-text">
  <div class="center_text">
    <form method="GET" action="">
        <p>
          <input id="id_query_string"
                 type="search"
                 name="q"
                 value="{{ form.cleaned_data.q }}"
                 maxlength="1000"
                 placeholder="Escreva aqui a sua busca" />
          <button class="big_center"  style="width:8em" type="submit" value="Submit">Busca</button></p>
    </form>
  </div>
  {% if spell_correction %}
  <div class="center_text">
    <p>Será que queria dizer:
    <a href="/?q={{ spell_correction }}">{{ spell_correction }}</a>?</p>
  </div>
  {% endif %}

  {% if query_modified %}
  <p style="color:blue">Os resultados seguintes são produto de uma busca optimizada. Para ver os resultados de busca não optimizados, clique <a href="/?q={{ query_modified }}&m=F">aqui</a>.
  {% endif %}

  {% include "results.html" %}
  <p class="noprint center_text">
  [ <span class="nobreak"><a href="{{ query }}&m={{ mquery }}&order=-date">Ordenar por data descendente</a> |</span>
  <span class="nobreak"><a href="{{ query }}&m={{ mquery }}&order=date">Ordenar por data ascendente</a> |</span>
  <span class="nobreak"><a href="{{ query }}&m={{ mquery }}">Ordenar por relevância</a> |</span>
  <span class="nobreak"><a href="{% url 'rss' %}{{ query }}">Obter esta busca como RSS</a> ]</span>
  </p>
</div>

{% else %}
<div class="center_text">
  <a id="logo" href="/">
    <img class="dre_logo" src="{% static 'img/logo.svg' %}"
    width="100px" height="128px" alt="Tretas logotipo">
  </a>
  <a id="logo_mobile" class="noprint" href="/">
    <img class="dre_logo" src="{% static 'img/logo.svg' %}" width=50% alt="Tretas logotipo">
  </a>

  <div class="intro">Procura em texto livre no Diário da República</div>
  <form method="GET" action="">
      <p>
        <input id="id_query_string" type="search" name="q" value="{{ form.cleaned_data.q }}" maxlength="1000" placeholder="Escreva aqui a sua busca" />
      </p>
      <p><button class="big_center"  style="width:8em" type="submit" value="Submit">Busca</button></p>
  </form>
</div>

{% if spell_correction %}
<div class="center_text">
  <p>Será que queria dizer: <a href="/?q={{ spell_correction }}">{{ spell_correction }}</a>?</p>
</div>
{% endif %}
{% if not success %}
<div class="center_text error">
  <p>Não consegui encontrar resultados com: "{{ form.cleaned_data.q }}"</p>
</div>
{% endif %}
{% show_tips %}
{% endif %}

{% endblock %}
