/***********/
/* General */
/***********/

.error { color:red; }

/* Hide, just visible on print media */
.only_print {
  display: none;
}

.clear_both {
  clear:both;
  height:1px;
  width:1px;
  overflow:hidden;
}

/* To center the content */
/* to use insted of the deprecated align and center */

.center_text {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.center_text table {
  margin-left:auto;
  margin-right:auto;
}

/* Three columns */

.one_third {
  width:33%;
  float:left;
}

/* No border in IE image links */

img {
  border:none;
  outline:none;
}

/* Anchor links */
a.anchor {
  text-decoration: none;
  font-size: 80%;
}

/* Mix */

.hidden {display: none;}

.nobreak {white-space: pre;}

/*
 * Tips
 */

.code a {
  text-decoration: none;
}

.code a:visited {
  color: #022263;
}

/********/
/* Tags */
/********/

.tag {
  padding: 0.15em 0.8em 0.3em 0.4em;
  margin: 0 0.4em 0 0;
  background: #4060A2;
  color: white;
  border-radius: 0.3em;
}

.tag_remove {
  padding: 0.15em 0em 0.3em 0em;
  margin: 0;
}

.tag_remove img {
  display: inline-block;
vertical-align: middle; }

.tags {
  text-align: left;
}

.tag {
  line-height: 200%;
}

.hidden {display: none;}

.add_tag {
  margin-top: 0.3em;
}

.ui-autocomplete-loading {
  background: white url('/static/img/progress.gif') right center no-repeat;
}

.highlight {
  background: #6f94de;
  border-radius: 0.5em;
}

.tag_control, .tag  {
  cursor: pointer;
}

/*
 * Results
 */

.result_notes h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
  text-align: left;
}

.list_item {
  padding-left: 1em;
}

/*
 * Pagination
 */

.pagination {
  padding-top: 1.5em;
  padding-bottom: 2em;
  text-align: center;
}

/************
 * Settings *
 ************/

/* Column layout */

#wrap {
  margin: -1em 0 0 -1em;
  padding: 0.4em;
}

ul.errorlist {
  list-style-type: none;
  max-width: 20em;
  margin: auto;
  padding: 0;
}

ul.errorlist li {
  background-color: #f9a1a1;
  padding: 0.3em;
  margin:0;
}

#sidebar {
  float: left;
  width: 12em;
  margin: 1em 0 0 0.3em ;
}

#content_column {
  margin: 1em;
  overflow: hidden;
}

/* Menu */

ul.sidemenu {
  list-style: none;
}


ul.sidemenu li {
  display: block;
  background-color: whitesmoke;
  margin: 1em 1em 1em -2em;

  border: solid 1px;
  border-radius: 0.3em;
  box-shadow: 0.1em 0.3em 0.2em;
}

ul.sidemenu a {
  display: block;
  text-decoration: none;
  height: 100%;
  padding: 0.5em;
  border-radius: 0.3em;
}

ul.sidemenu a:hover {
  background-color: orange;
  color: white;
}

ul.sidemenu a:active {
  background-color: #4060a2;
  color: white;
}

ul.sidemenu a:visited {
  color: #0000ee;
}

a.highlight {
  background-color: #022263;
  color: white !important;
}

a.highlight:visited {
  background-color: #022263;
  color: white !important;
}

/* Forms */

form#settings p {
  text-align: center;
  clear: both;
}

div.help_text {
  text-align: justify;
  margin-bottom: 0.5em;
  clear: both;
  max-width: 30em;
}

form#settings label {
  display: table-cell;
  vertical-align: middle;
  float: left;
  width: 10em;
  text-align: left;
  margin-right: 0.2em;
  margin-top: 0.3em;
}

form#settings input {
  width: 10em;
}

/********
 * Auth *
 ********/

form#alone {
  display: block;
  margin: auto;
  padding: 0.4em;
  max-width: 30em;
}

form#alone label {
  display: inline-block;
  float: left;
  width: 10em;
  text-align: left;
  margin-right: 0.2em;
  margin-top: 0.3em;
  font-weight: bold;
}

form#alone p {
  clear: both;
  text-align: center;
}
form#alone input {
  max-width: 15em;
}

/**************
 * Page marks *
 **************/

#pagemarks {
  height: 2em;
  position:fixed;
  right:0.3em;
  bottom:0.3em;
  opacity: 0.4;
  z-index: 100;
}
.circle {
  padding:0;
  color: red;
  border-radius: 1em;
  width: 2em;
  height: 2em;
  background-color: gainsboro;
  border: 1px solid gray;
  text-align: center;
  display:table-cell;
  vertical-align:middle;
  cursor: pointer;
}
.flag {
  width: 2em;
  height: 2em;
  position:absolute;
  left:0.3em;
  opacity: 0.4;
  z-index: 100;
}
.marker {
  background-color: whitesmoke;
}

