{% extends "settings.html" %}
{% load static %}

{% block title %}Etiquetar Objecto{% endblock %}

{% block header %}
  <meta name="keywords" content="procura,diplomas,documentos,diário da república">
  <meta name="description" content="Procura de diplomas no Diário da República Electrónico - Gestão de Etiquetas">
  <meta property="og:title" content="Diários da República - Gestão de Etiquetas">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ SITE_URL }}">
  <meta property="og:image" content="{{ SITE_URL }}{% static 'img/esfera_armilar_200.png' %}">
  <meta property="og:site_name" content="Diários da República - Versão do cidadão">
  <meta property="fb:admins" content="webmaster@tretas.org">
  <meta property="og:description" content="Gestão de Etiquetas">
{% endblock %}

{% block content_column %}
<div class="content-text">
<h1>{{ message }}</h1>

</div>
{% endblock %}

