{% extends "base.html" %}
{% load static %}

{% block title %}Diários da República - Erro 404{% endblock %}

{% block header %}
  <meta name="keywords" content="404,dre,diário da república,leis">
  <meta name="description" content="Acerca do sistema de procura e armazenamento de Diários da República.">
  <meta property="og:title" content="Diários da República - Acerca">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ SITE_URL }}">
  <meta property="og:image" content="{{ SITE_URL }}{% static 'img/esfera_armilar_200.png' %}">
  <meta property="og:site_name" content="Diários da República - Versão do cidadão">
  <meta property="fb:admins" content="webmaster@tretas.org">
  <meta property="og:description" content="Acerca do sistema de procura e armazenamento de Diários da República.">
{% endblock %}

{% block body_content %}
<div class="content-text">
  <h1>Página não encontrada</h1>
  <a href="/"><img src="{% static 'img/logo.svg' %}" width=86px height=112px alt="Tretas dre logotipo"></a>
  <p>Não encontrei a página que indicou. Tente usar o nosso <a href="/">sistema de procura</a>.</p>
</div>
{% endblock %}
