<!doctype html>
{% load static %}
<html lang="pt">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" media="screen" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/style_normal.css' %}"
    media="screen and (min-width:801px)" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/style_mobile.css' %}"
    media="screen and (max-width:800px)" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/print.css' %}" media="print" />
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
  <link rel="alternate" type="application/rss+xml" title="RSS Geral" href="{% url 'rss' %}" />
  <link rel="search" type="application/opensearchdescription+xml" href="{{ SITE_URL }}/osd.xml" title="Busca Diários da República" />
  <script src="{% static 'jquery/jquery-1.9.1.min.js' %}"></script>
  <script src="{% static 'js/base.js' %}"></script>
  {% block header %}{% endblock %}

</head>
<body>
<!--[if lte IE 8]>
  <div style="background:yellow;color:red;margin:0;padding:0.5em;">
     <p>Está a utilizar uma versão antiga do Internet Explorer. Não vai
        conseguir usufruir da totalidade deste site (para além do facto de
        estar vulnerável a uma grande quantidade de vírus e afins). Faça
        a actualização do Internet Explorer ou
        <a href="https://www.mozilla.org/">mude</a> para um
        <a href="http://www.opera.com/">browser</a> de
        <a href="https://www.google.com/chrome">qualidade</a>.</p>
  </div>
<![endif]-->
  {% include "system_wide_alert.html" %}
  <div id="menu_back" class="noprint"></div>
  <nav id="mobile_menu" class="noprint">
    <p>Diários da República</p>
    <div id="toggle_menu">
      <img src="{% static 'img/menu.svg' %}" height="32px">
    </div>
    <div class="clear_both"></div>
  </nav>
  <nav id="main_menu" class="noprint">
    <div id="menu_left">
      <ul class="horizontal_list">
        <li><a href="/">Procurar</a>
        <li><a href="{% url 'today_results' %}" title="Documentos publicados hoje ou na data indicada. É apresentada a última data com documentos.">Por data</a>
        <li><a href="{% url 'top' %}" title="Documentos mais vistos pelos utilizadores deste site.">Top</a>
        <li><a href="{% url 'faq' %}" title="Perguntas Frequentes">FAQ</a>
        {% if user.is_authenticated %}
        <li><a href="{% url 'bookmark_display' user.id %}">Marcadores</a>
        {% endif %}
      </ul>
    </div>
    <div id="menu_right">
      <ul class="horizontal_list">
        {% if user.is_authenticated %}
        <li><a href="{% url 'personal_data' %}">Perfil ({{ user.username }})</a>
        {% endif %}
        <li><a href="{% url 'about' %}">Acerca</a>
        <li><a href="{% url 'help' %}">Ajuda</a>
        <li><a class="rss_link" href="{% url 'rss_help' %}">RSS</a>
        {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}?next=/">Sair</a>
        {% else %}
        <li><a href="{% url 'registration' %}?next={{ request.get_full_path|urlencode }}">Registar</a>&nbsp;&nbsp;
        <li><a href="{% url 'login' %}?next={{ request.get_full_path|urlencode }}">Entrar</a>
        {% endif %}
      </ul>
    </div>
    <div class="clear_both"></div>
  </nav>
  <div id="notification"></div>

  <!-- Start Header for Printing -->
  <div class="only_print">
    <div id="print_header">
      <p>{% block print_header %}dre.tretas.org{% endblock %}</p>
      <hr>
    </div>
  </div> <!-- End Header for Printing -->

  <!-- Body Content -->

  <div id="wrap">
    <div id="main-sidebar" class="noprint">
      {% include "sidebar_content.html" %}
      {% block sidebar_content %}{% endblock %}
    </div>
    <div id="content">
      {% block body_content %}{% endblock %}
      <div class="only-mobile noprint">
        {% include "sidebar_content.html" %}
        {% block sidebar_content_mobile %}{% endblock %}
      </div>
    </div>
    <div class="clear_both"></div>
  </div>

  <!-- Start Footer for Printing -->
  <div class="only_print">
    <div id="print_footer">
      <hr>
      <p>★ {% now "Y.m.d H:i" %} ★</p>
    </div>
  </div> <!-- End Footer for Printing -->
</body>
</html>
