<!doctype html>
{% load static %}
<html>
<head>
    <title>Busca Tretas - JavaScript</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/print.css' %}" media="print">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<!-- Start Header for Printing -->
<div class="only_print">
 <div id="print_header">
  <p>Busca Tretas.org</p>
  <hr>
 </div>
</div>
<!-- End Header for Printing -->

<!-- Body Content -->
<div id="content">
<div class="center_text">
  <a href="/"><img src="{% static 'img/tretas_big.png' %}" alt="Tretas logotipo" width="305" height="127"></a>
    <h1>Necessita de ter o Javascript ligado para ter acesso a todas as funcionalidades deste site</h1>
</div>
    <p>Recomendamos que utilize um destes browsers (a ordem é aleatória):
    <ul>
      <li><a href="http://www.firefox.com">Firefox</a>;
      <li><a href="http://www.google.com/chrome">Google Chrome</a>.
    </ul>
</div>
<!-- Start Footer for Printing -->
<div class="only_print">
 <div id="print_footer">
  <hr>
  <p>Busca Tretas.org</p>
 </div>
</div>
<!-- End Footer for Printing -->
</body>
</html>
