{% extends "base.html" %}
{% load static %}

{% block title %}Diários da República - Login{% endblock %}

{% block header %}
  <meta name="robots" content="noindex, nofollow">
  <meta name="keywords" content="procura,diplomas,documentos,diário da república">
  <meta name="description" content="Procura de diplomas no Diário da República Electrónico - página de login">
  <meta property="og:title" content="Diários da República - Login">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ SITE_URL }}">
  <meta property="og:image" content="{{ SITE_URL }}{% static 'img/esfera_armilar_200.png' %}">
  <meta property="og:site_name" content="Diários da República - Versão do cidadão">
  <meta property="fb:admins" content="webmaster@tretas.org">
  <meta property="og:description" content="Procura de diplomas no Diário da República">
{% endblock %}

{% block body_content %}

  <form id="alone" method="post" action="{% url 'login' %}{% if next %}?next={{ next }}{% endif %}">{% csrf_token %}
  <h1>Autenticação</h1>
    {% if auth_error %}
    <p class="warning">O seu nome e/ou palavra-passe estão errados. Por favor tente de novo.
    </p>
    {% endif %}
    <p><label for="id_username">Utilizador:</label> {{ form.username }}</p>
    <p><label for="id_password">Palavra-Passe:</label> {{ form.password }}</p>
    <p><label for="id_autologin">Login automatico?</label> {{ form.autologin }}</p>
    <p>Esqueceu-se da sua palavra-passe? Clique <a href="{% url 'password_reset' %}">aqui</a>.</p>
    {% if form.captcha %}
      {{ form.captcha }}<br>{{ form.captcha.errors }}
    {% endif %}
    <div class="center_text">
      <button style="width:6em" type="submit" value="Submit">Entrar</button>
    </div>
    <input type="hidden" name="next" value="{{ next }}" />
    <input type="submit" style="width:0px;height:0px;border:none;padding:0px;font-size:0px">
  </form>
{% endblock %}
