{% extends "settings.html" %}
{% load static %}

{% block title %}Mudar Palavra-Passe{% endblock %}

{% block header %}
  <meta name="robots" content="noindex, nofollow">
  <link rel="stylesheet" type="text/css" href="/static/css/settings.css">
  <meta name="keywords" content="procura,diplomas,documentos,diário da república">
  <meta name="description" content="Procura de diplomas no Diário da República Electrónico - página de mudança de palavra chave">
  <meta property="og:title" content="Diários da República - Mudança de palavra chave">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ SITE_URL }}">
  <meta property="og:image" content="{{ SITE_URL }}{% static 'img/esfera_armilar_200.png' %}">
  <meta property="og:site_name" content="Diários da República - Versão do cidadão">
  <meta property="fb:admins" content="webmaster@tretas.org">
  <meta property="og:description" content="Procura de diplomas no Diário da República - página de mudança de palavra chave">
{% endblock %}

{% block content_column %}
    <h1>Mudar Palavra-Passe</h1>
    <form id="settings" method="post" action="{% url 'password_change' %}{% if next %}?next={{ next }}{% endif %}">{% csrf_token %}
        {{ form.as_p }}
        <div class="center_text">
          <button style="width:12em" type="submit" value="Submit">Mudar Palavra-Passe</button>
        </div>
    </form>
{% endblock %}
