{% extends "base.html" %}
{% load static %}

{% block title %}Recuperar Palavra-Passe{% endblock %}

{% block header %}
  <meta name="robots" content="noindex, nofollow">
  <meta name="keywords" content="procura,diplomas,documentos,diário da república">
  <meta name="description" content="Procura de diplomas no Diário da República Electrónico - página de mudança de palavra chave">
  <meta property="og:title" content="Diários da República - Mudança de palavra chave">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ SITE_URL }}">
  <meta property="og:image" content="{{ SITE_URL }}{% static 'img/esfera_armilar_200.png' %}">
  <meta property="og:site_name" content="Diários da República - Versão do cidadão">
  <meta property="fb:admins" content="webmaster@tretas.org">
  <meta property="og:description" content="Procura de diplomas no Diário da República - página de mudança de palavra chave">
{% endblock %}

{% block body_content %}
    <h1>Recuperar Palavra-Passe</h1>
    <div class="center_text">
      <p>Para recuperar a sua palavra-passe indique por favor o endereço de
      correio electrónico que usou para se registar no site:
      <form method="post" action="{% url 'password_reset' %}">{% csrf_token %}
        <table>
          {{ form }}
          <tr>
            <td colspan=2>
              <div class="center_text">
                <button style="width:12em" type="submit" value="Submit">Recuperar<br>Palavra-Passe</button>
              </div>
            </td>
          </tr>
        </table>
      </form>
    </div>
{% endblock %}
